* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}

body {
  color: #ffc233;
  font-size: 16px;  
}

.container {
  position: relative;
  width: 100%;
  padding-bottom: 200px;
  background: url('./assets/pexels-maxyne-barcel.png') no-repeat;
  background-size: 100% 100%;
}
.container::before {
  position: absolute;
  content: ' ';
  width: 100%;
  /* height: 100vh; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #151b38;
  opacity: .8;
}

/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */

.navbar,
.hero {
  position: relative;
  max-width: 1050px;
  margin: auto; 
}

.navbar {
  display: block;
  width: 100%;
  padding: 35px 0 80px;
  margin: auto;
}

.navbar::after  {
  display: table;
  content: ' ';
  clear: both;
}
.navbar > div {
  display: inline-block;
  float: left;
}

.navbar > div:first-child{
  width: 20%;
}

.navbar > div:nth-child(2){
  width: 60%;
}

.navbar > div:last-child{
  width: 20%;
}

.logo {
  width: 120px;
}
.list {
  list-style: none;
  padding: 0;
  text-align: center;
}
.list li {
  display: inline-block;
}
.list li:not(:last-child){
  margin-right: 45px;
}

.button-small {
  padding: 10px 25px;
  border: none;
  background-color: #ff505f;
  color: #ffffff;
  font-weight: 600;
}

.bottom {
  position: absolute;
  content: ' ';
  width: 110px;
  right: -3px;
  bottom: -145px;
}
.bottom img {
  width: 120px;
}
/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */

.hero-heading {
  margin-bottom: 40px;
  color: #ffc233;
  font-family: 'Dela Gothic One';
  font-size: 80px;
  letter-spacing: 2px;
  line-height: 1.2;
  font-weight: 200;
  text-align: center;
}
.hero {
  text-align: center;
}
.button-large {
 padding: 20px 40px;
 border: none;
 background-color: #ff505f;
 color: #ffffff;
 font-size: 18px;
 font-weight: 600;
 letter-spacing: 1px;

}
.bottom {
  
}